<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Appenders -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p: %c - %m%n"/>
        </layout>
    </appender>

    <appender name="rollingFile" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="/logs/dx-services-debug.log"/>
        <param name="Append" value="true"/>
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="fileNamePattern" value="/logs/dx-services-debug.%i.log"/>
            <param name="maxIndex" value="2"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="5000000"/>
        </triggeringPolicy>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%c %d{ISO8601} %p %m%n"/>
        </layout>
    </appender>

    <!-- Application Loggers -->
    <logger name="com.lawbulletin.legalportal">
        <level value="debug"/>
    </logger>

    <logger name="org.springframework.web.servlet.mvc">
        <level value="debug"/>
    </logger>

    <!-- 3rdparty Loggers -->
    <logger name="org.springframework">
        <level value="all"/>
    </logger>

    <logger name="org.springframework.core">
        <level value="info"/>
    </logger>

    <logger name="org.springframework.beans">
        <level value="info"/>
    </logger>

    <logger name="org.springframework.context">
        <level value="info"/>
    </logger>

    <logger name="org.springframework.web">
        <level value="debug"/>
    </logger>

    <logger name="org.jasig">
        <level value="debug"/>
    </logger>

    <logger name="org.springframework.security">
        <level value="debug"/>
    </logger>

    <logger name="org.springframework">
        <level value="debug"/>
    </logger>

    <!-- Root Logger -->
    <root>
        <priority value="error"/>
        <appender-ref ref="console"/>
        <appender-ref ref="rollingFile"/>
    </root>

</log4j:configuration>
